<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{ person.username }}님의 프로필</h1>

  <div>
    <div>
      팔로잉 : <span id="followings-count">{{ person.followings.all|length }}</span> / 
      팔로워 : <span id="followers-count">{{ person.followers.all|length }}</span>
    </div>
    {% if request.user != person and request.user.is_authenticated %}
      <div>
        <form id="formTag" data-user-id="{{person.pk}}">
          {% csrf_token %}
          {% if request.user in person.followers.all %}
            <input type="submit" value="Unfollow">
          {% else %}
            <input type="submit" value="Follow">
          {% endif %}
        </form>
      </div>
    {% endif %}
  </div>

  <hr>

  <h2>작성한 게시글</h2>
  {% for article in person.article_set.all %}
    <p>{{ article.title }}</p>
  {% endfor %}

  <hr>

  <h2>작성한 댓글</h2>
  {% for comment in person.comment_set.all %}
    <p>{{ comment.content }}</p>
  {% endfor %}

  <hr>

  <h2>좋아요를 누른 게시글</h2>
  {% for article in person.like_articles.all %}
    <p>{{ article.title }}</p>
  {% endfor %}

  <hr>

  <a href="{% url "articles:index" %}">[back]</a>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const formTag = document.querySelector('#formTag')

    formTag.addEventListener('submit', function(event) {
      // 1. submit 이벤트 기본 동작 취소
      event.preventDefault()

      // 3. form 요소에 지정한 data 속성 접근하기
      const userId = formTag.dataset.userId // html에서 받아오는 방식은 user-id >> userId
      
      // 4. 인증 수단 csrf token JS 방식으로 구하기
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      // 2 axios로 비동기적 >> 팔로우/언팔로우 요청
      axios({
        method: 'POST',
        url: `/accounts/${userId}/follow/`,
        // headers에 넣어줘야 한다.
        headers: {'X-CSRFToken': csrftoken},
      })
      
      .then((response) => {
        const followbtn = document.querySelector('#formTag > input[type=submit]:nth-child(2)')
        const followings = document.querySelector('#followings-count')
        const followers = document.querySelector('#followers-count')

        if (response.data.content == true) {
          followbtn.value = 'Unfollow'
        } else {
          followbtn.value = 'Follow'
        }

        followings.textContent = response.data.following_count
        followers.textContent = response.data.followers_count
      })

      .catch((error) => {
        console.log(error)
      })

    })
  </script>

</body>
</html>
